//- Карточка товара
mixin card-good(href, src, alt, title, price, location, date)
    .card 
        a(href="#").card-img 
            img(src= src, alt= alt,loading="lazy")
        .card-title__block
            a(href="#") 
                h5.card-title= title 
            button.card-title__like
        strong.card-price= price
        p.card-location= location
        p.card-date= date

//- Компонент блока aside
mixin aside-item(img, title, p)
    .aside-item 
        .aside-img 
            img(src= img, alt= title)
        h5.aside-title= title 
        p.aside-text= p 